* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.container {
    text-align: center;
}

img {
    margin-top: 20px;
    width: 200px;
    height: auto;
    transition: transform 0.2s;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px
}

img:hover {
    transform: scale(1.1);
}